{% block header %}
  {% if is_granted("ROLE_USER") %}
    {% set mainMenu = [
       {'path': 'home',          'name': 'Accueil' },
       {'path': 'restaurants',          'name': 'Restaurants' },
       {'path': 'app_logout',          'name': 'Deconnexion' },
    ] %}
    {% else %}
      {% set mainMenu = [
        {'path': 'home',          'name': 'Accueil' },
        {'path': 'app_login',          'name': 'Connexion' },
        {'path': 'app_register',          'name': 'Inscription' },
      ]%}
    {% endif %}

    {% if is_granted("ROLE_ADMIN") %}
      {% set mainMenu = [
        {'path': 'home',          'name': 'Accueil' },
        {'path': 'restaurants',          'name': 'Restaurants' },
        {'path': 'app_logout',          'name': 'Deconnexion' },
        {'path': 'add_restaurant',          'name': 'Ajouter un restaurant' },
        {'path': 'add_produit',          'name': 'Ajouter un produit' },
      ]%}
    {% endif %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            {% for item in mainMenu %}
              <a class="nav-link fs-5" href="{{ path(item['path']) }}">{{ item['name'] }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
{% endblock %}